<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zky.snack.user.mapper.IMemberInfoMapper">

 <select id="login" resultType="MemberInfo" parameterType="MemberInfo">
          select mno, nickName, realName, tel, email, photo from memberInfo 
		  where status != 0 and (nickName=#{nickName} or tel=#{nickName} or email=#{nickName}) and pwd=#{pwd}
 </select>
 
 <insert id="reg" parameterType="MemberInfo">
   insert into memberInfo values(0,#{nickName},'',md5(#{pwd}),#{tel},#{email},'',now(),1)
 </insert>
	
	
</mapper>
