<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zky.snack.product.mapper.ICartInfoMapper">

	
	<select id="finds" parameterType="string" resultType="CartInfo">
	String sql = "select cno, c.gno, num, price, pics, gname, unit, weight from goodsinfo g, cartinfo c where c.gno=g.gno and mno=#{_parameter}";
	</select>
	
	<select id="info" parameterType="string" resultType="map">
			String sql = "select cno, gno from cartinfo where mno=#{_parameter}";
	</select>
	
	<update id="updateNum" parameterType="map">
			String sql = "update cartinfo set num = num + #{num} where cno = #{cno}";
	</update>
	
	<insert id="add" parameterType="CartInfo">
	insert into cartinfo values(#{cno}, #{mno}, #{gno}, #{num})
	</insert>
	
	<delete id="delete"  parameterType="string">
	delete from cartinfo where 1=0
	<foreach collection="array" open=" or cno (" close=")" separator="," item="item">
	#{item}
	</foreach>
	</delete>
	
	<select id="findByCno" resultType="CartInfo">
	select cno, c.gno, num, price, pics, gname, unit, weight from goodsinfo g, cartinfo c where c.gno=g.gno
	<foreach collection="array" open=" and cno in(" close=")" separator="," item="item">
	#{item}
	</foreach>
	</select>
	
	
</mapper>
